{% extends 'base.html.twig' %}

{% block title %}Reservations{% endblock %}

{% block body %}

    <div class="flex items-center justify-center min-h-screen">
        <div class="max-w-2xl bg-gray-200 p-6 rounded-lg">
            <h1 class="text-2xl font-bold mb-4 text-center">{{ films.titre }}</h1>
            <table class="min-w-full bg-white shadow-md rounded-lg">
                <tbody>
                <tr class="border-b">
                    <th class="py-2 px-4 text-left">Id</th>
                    <td class="py-2 px-4">{{ reservation.id }}</td>
                </tr>
                <tr class="border-b">
                    <th class="py-2 px-4 text-left">Nombre Places</th>
                    <td class="py-2 px-4">{{ reservation.nombrePlaces }}</td>
                </tr>
                <tr>
                    <th class="py-2 px-4 text-left">Prix Total</th>
                    <td class="py-2 px-4">{{ reservation.prixTotal }}</td>
                </tr>
                </tbody>
            </table>

            <div class="mt-4 text-center">
                <a href="{{ path('app_reservations_index') }}" class="bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600">
                    Retour à la liste
                </a>
            </div>
        </div>
    </div>

{% endblock %}