{% extends 'base.html.twig' %}

{% block title %}Reservations{% endblock %}

{% block body %}
    <h1>Reservations</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ reservation.id }}</td>
        </tr>
        <tr>
            <th>NombrePlaces</th>
            <td>{{ reservation.nombrePlaces }}</td>
        </tr>
        <tr>
            <th>TypePMR</th>
            <td>{{ reservation.typePMR ? 'Yes' : 'No' }}</td>
        </tr>
        <tr>
            <th>PrixTotal</th>
            <td>{{ reservation.prixTotal }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('app_reservations_index') }}">Retour à la liste</a>
{% endblock %}
